/*
// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

/**
 * format_levels_renderer
 *
 * @package    format_levels
 */

.course-content ul.levels li.section.main {
    background: none;
    list-style: none;
    display: none;
    border-left: 0;
    border-right: 0;
}

.course-content ul.levels span.above li.section {
    border: 0;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 0;
}

.course-content ul.levels span.below li.section {
    border: 0;
    display: block;
    margin-top: 35px;
}

.course-content ul.levels .content ul.section {
    margin: 1em 0;
}

#levelsectioncontainer {
    display: none;
    margin: 20px auto;
}
 /*colors*/

#levelsectioncontainer .levelsection.current {
    background: #115898;
    color: #fff;
}

#levelsectioncontainer .levelsection.activesection {
    background: #1177d1;
    color: #fff;
    border-color: #1177d1;
}
 /*editing*/

.editing .course-content ul.levels li.section.main {
    display: block;
}

/*wizard css*/
.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > div.activesection, .wizard .nav-tabs > div.activesection:hover, .wizard .nav-tabs > div.activesection:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.wizard div.activesection span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    color: #5bc0de;

}
.wizard div.activesection span.round-tab{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > div {
    width: 25%;
    float: left;
    margin-bottom: -1px;
    background-color: white;
    position: relative;
    display: block;
    cursor: pointer;
}

.wizard div:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: -21px -7px;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard div.activesection:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > div{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    position: relative;
    display: block;
    line-height: 1.42857143;
    color:#555555;
}

.wizard .nav-tabs > div:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

/* .bootstrap.min.css */

.wizard .nav {
    padding-left: 0;
    list-style: none;
}